.all-content {
  width: 100vw;
  height: 100vh;
  .menu {
    overflow: auto;
    background-color: #252932;
    border-radius: 10px 10px 0 0;
    width: 85%;
    height: 100%;
    background-repeat: no-repeat;
    @media screen and (min-width: 375px) {
      width: 87%;
    }
    @media screen and (min-width: 425px) {
      width: 88%;
    }
    @media screen and (min-width: 450px) {
      width: 89%;
    }
  }
  .notification {
    width: 100%;
    height: 100%;
    background: #f56f6c;
    border-radius: 10px 10px 0 0;
    app-notification {
      position: relative;
    }
  }
  .displament-notification {
    position: fixed;
    left: 84%;
    top: 0;
    bottom: 0;
    right: 0;
    @media screen and (min-width: 375px) {
      left: 86%;
    }
    @media screen and (min-width: 425px) {
      left: 88%;
    }
    @media screen and (min-width: 450px) {
      left: 89%;
    }
  }
  .hidden-menu {
    display: none;
  }
}
