$font-size: 1.2rem;
$margin-elements: 1rem;
// :host {
//   display: flex;
//   flex-direction: column;
// }
p {
  width: 75%;
  font-size: $font-size;
  display: inline-block;
}
.postion-of-count {
  display: inline-block;
   width: 25%;
      .count {
        font-size: $font-size;
        margin: $margin-elements;
        width: 2.4rem;
        border-radius: 15px;
        text-align: center;
        background-color: #797d86;
      }
}

