$font-size: 1rem;
@mixin setting-for-count {
  width: 35px;
  height: 18px;
  border-radius: 15px;
  text-align: center;
  .count {
    color: white;
  }
}
 :host {
   display: flex;
   justify-content: space-between;
 }
.color-for-count {
  @include setting-for-count;
  background-color: #16545f;
 }
 .add-color-open-text {
   color: white;
 }
p {
  font-size: $font-size;
  display: inline-block;
}
.border-for-count {
  @include setting-for-count;
  background-color: #7b7f88;
}


