$font-size: 1rem;
$margin-elements: 1rem;
@mixin setting-for-count {
  color: white;
  font-size: $font-size;
  margin-right: $margin-elements;
  width: 2.4rem;
  height: 1.5rem;
  border-radius: 15px;
  text-align: center;
}
 :host {
   display: flex;
   justify-content: space-between;
 }
 .color-for-count {
  @include setting-for-count;
  background-color: darkgreen;
 }
 .add-color-open-text {
   color: white;
 }
p {
  font-size: $font-size;
  display: inline-block;
}
.count {
  @include setting-for-count;
  background-color: #797d86;
}

