$margin-for-elements: 1.3rem;
$font-size-for-icons-nav-bar: 1.2rem;
$font-size-for-icons-tip-menu: 1.5rem;
$color-for-text: rgb(255,255,255);
$border-radius: 10px 10px 0 0;
$margin-for-tip-icon: 1rem 1rem 2rem 1rem;
$font-size-for-tim-menu-icon: 1.2rem;
@mixin font-size-for-bigger-phone-nav-bar {
 @media screen and (min-width: 375px){
    font-size: $font-size-for-icons-nav-bar;
  }
}
@mixin font-size-for-bigger-phone-tip-menu {
  @media screen and (min-width: 375px){
    font-size: $font-size-for-icons-tip-menu;
  }
}
@font-face {
 font-family: BLACKJAR;
 src: url("../../assets/fonts/BLACKJAR.TTF") format("opentype");
}

section {
  background-image: url("../../assets/photo/adult-beard-boy-casual-220453.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  @media screen and (max-width: 350px){
    background-size: 350px;
  }
  @media screen and (max-width: 400px){
    background-size: 400px;
  }
  width: 100%;
  border-radius: $border-radius;
  .transbox {
    border-radius: $border-radius;
    background-color:rgba(16, 79, 94, 0.8);
    height: 100%;
    width: 100%;
    [class*="col-"] {
      width: 100%;
    }
    .nav-bar-content {
      display: flex;
      color: $color-for-text;
      .bars {
        flex: 2;
        margin: $margin-for-elements;
        font-size: .9rem;
        @include font-size-for-bigger-phone-nav-bar;
      }
      .logo-and-title {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .main-logo-photo {
          width:40px;
          height:40px;
          background-position: center;
          font-size: .9rem;
          @include font-size-for-bigger-phone-nav-bar;
          background-image: url("../../assets/photo/logo8.png");
        }
        .logo {
          text-align: center;
          font-family: 'BLACKJAR';
          font-size: 1.5rem;
        }
      }
      .suitcase {
        flex: 2;
        text-align: right;
        margin: $margin-for-elements;
        font-size: .9rem;
        @include font-size-for-bigger-phone-nav-bar;
      }
    }
    .main-content {
      .title-and-description {
        color: $color-for-text;
        h1 {
          font-family: 'BLACKJAR';
          padding: .9rem;
          font-size: 2rem;
          @media screen and (max-width: 375px){
            font-size: 1.5rem;
          }
            span {
              color: #f56f6c;
            }
        }
        h4 {
          font-weight: normal;
          font-size: 1.2rem;
          @media screen and (max-width: 375px){
            font-size: 1rem;
          }
        }
        p {
          font-size: 1rem;
          color: #f56f6c;;
        }
        text-align: center;
        margin: 3rem;
      }
    }
    .tip-content {
      width: 100%;
      height: 100%;
      align-items: flex-end;
      .border-for-icon {
        width: 20rem;
        @media screen and (min-width: 400px) {
          width: 25rem;
        }
        margin: 0 auto;
        display: flex;
        .basketball-ball {
          color: $color-for-text;
          width: 5rem;
          flex: 2;
          text-align: right;
          font-size: $font-size-for-tim-menu-icon;
            margin: $margin-for-tip-icon;
          @include font-size-for-bigger-phone-tip-menu;

          position: relative;
          display: flex;
          justify-content: flex-end;
        }
        .text-border {
          font-size: 0.8rem;
          position: absolute;
          width: 25px;
          height: 21px;
          left: 95%;
          bottom: 59%;
          background-color: #f56f6c;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .behance {
          color: #a3bcc1;
          width: 5rem;
          flex: 1;
          text-align: center;
          font-size: $font-size-for-tim-menu-icon;
          margin: $margin-for-tip-icon;
          @include font-size-for-bigger-phone-tip-menu;
        }
        .tree {
          color: #a3bcc1;
          width: 5rem;
          flex: 2;
          font-size: $font-size-for-tim-menu-icon;
          margin: $margin-for-tip-icon;
          @include font-size-for-bigger-phone-tip-menu;
        }
      }
    }
  }
}

