<section>
  <div [className]="'transbox'">
    <div [className]="'nav-bar-content col-12'">
      <div [className]="'bars'">
        <fa-icon  [icon]="faBars" (click)="showMenu()"></fa-icon>
      </div>
      <h3 [className]="'logo'">uilove</h3>
      <div [className]="'suitcase'">
        <fa-icon [icon]="faSuitcase"></fa-icon>
      </div>
    </div>
    <div [className]="'main-content col-12'">
      <div [className]="'title-and-description'">
        <h1>Principal <span>Designed</span></h1>
        <h4>apis napis napis</h4>
        <p>napis</p>
      </div>
    </div>
    <div [className]="'tip-content col-12'">
      <div [className]="'basketball-ball'">
        <fa-icon [icon]="faBaseballBall"></fa-icon>
      </div>
      <div [className]="'behance'">
        <fa-icon [icon]="faBahai"></fa-icon>
      </div>
      <div [className]="'tree'">
        <fa-icon [icon]="faTree"></fa-icon>
      </div>
    </div>
  </div>
</section>
