<section>
  <div [className]="'transbox'">
    <div [className]="'nav-bar-content col-12'">
      <div [className]="'bars'">
        <fa-icon  [icon]="faBars" (click)="showMenu()"></fa-icon>
      </div>
      <div [className]="'main-logo-photo'"></div>
      <h3 [className]="'logo'">uilove</h3>
      <div [className]="'suitcase'">
        <fa-icon [icon]="faSuitcase"></fa-icon>
      </div>
    </div>
    <div [className]="'main-content col-12'">
      <div [className]="'title-and-description'">
        <h1>Principal <span>Designed</span></h1>
        <h4>who believe in simplicity</h4>
        <p>love UI / GUI / UX</p>
      </div>
    </div>
    <div [className]="'tip-content col-12'">
      <div [className]="'basketball-ball'">
        <i class="fas fa-basketball-ball"></i>
        <div [className]="'text-border'">
          21
        </div>
        <!-- <sup>21</sup> -->
      </div>
      <div [className]="'behance'">
        <fa-icon [icon]="faBahai"></fa-icon>
      </div>
      <div [className]="'tree'">
        <i class="fab fa-behance"></i>
      </div>
    </div>
  </div>
</section>
