<section>
    <div [className]="'nav-bar'">
      <fa-icon [icon]='faPencilAlt'></fa-icon>
    </div>
    <div [className]="'photo'">
      <img src="../../assets/photo/adult-beard-boy-casual-220453.jpg" >
    </div>
    <div [className]="'description'">
      <h3>Designer Name</h3>
      <p>love with UI/ GUI / UX</p>
    </div>
    <div [className]="'option'">
      <ul>
        <li>
            <fa-icon [icon]='faEnvelope'></fa-icon>
            <h5>Mail Inbox</h5>
            <p [className]="'count'">5</p>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
</section>
