<section>
    <div [className]="'nav-bar'">
      <div  [className]="'pencil'">
        <fa-icon [icon]='faPencilAlt'></fa-icon>
    </div>
    </div>
    <div [className]="'photo'">
      <img src="../../assets/photo/adult-beard-boy-casual-220453.jpg" >
    </div>
    <div [className]="'description'">
      <h3>Designer Name</h3>
      <p>love with UI/ GUI / UX</p>
    </div>
        <div (click)='showEmailList($event)' [className]="'element-list add-border'">
          <div [className]="'icon'">
            <fa-icon [icon]='faEnvelope'></fa-icon>
          </div>
          <app-menu-icons text="Mail Inbox"></app-menu-icons>
        </div>
        <ul [className]="'sub-email-list'">
          <li [className]="'sub-element'" [hidden]='emailFlag' *ngFor="let item of mail">{{item}}</li>
        </ul>
        <div [className]="'element-list'">
          <div [className]="'icon'">
            <fa-icon [icon]='faUserFriends'></fa-icon>
          </div>
          <app-menu-icons  text="Friends"></app-menu-icons>
        </div>
        <div [className]="'element-list'">
          <div [className]="'icon'">
            <fa-icon [icon]='faPaperPlane'></fa-icon>
          </div>
          <app-menu-icons text="Invents"></app-menu-icons>
        </div>
        <div  [className]="'element-list'">
          <div [className]="'icon'">
            <fa-icon [icon]='faBookmark'></fa-icon>
          </div>
          <app-menu-icons text="Bookmarks"></app-menu-icons>
        </div>
        <div [className]="'element-list'">
          <div [className]="'icon'">
            <fa-icon [icon]='faCog'></fa-icon>
          </div>
          <app-menu-icons text="Account Settings"></app-menu-icons>
        </div>
   <div [className]="'eject'">
     <fa-icon [icon]='faEject'></fa-icon>
    </div>
</section>
