<section>
    <div [className]="'nav-bar'">
      <div  [className]="'pencil'">
        <fa-icon [icon]='faPencilAlt'></fa-icon>
    </div>
    </div>
    <div [className]="'photo'">
      <img src="../../assets/photo/adult-beard-boy-casual-220453.jpg" >
    </div>
    <div [className]="'description'">
      <h3>Designer Name</h3>
      <p>love with UI/ GUI / UX</p>
    </div>
    <div [className]="'option'">
      <ul  [className]="'option-list'">
        <li (click)='showEmailList($event)' [className]="'element-list color-for-icon'">
          <app-menu-icons></app-menu-icons>
            <ul [className]="'sub-email-list'">
              <li [className]="'sub-element'" [hidden]='emailFlag' *ngFor="let item of mail">{{item}}</li>
            </ul>
        </li>
        <li [className]="'element-list'">
          <app-menu-icons></app-menu-icons>
        </li>
        <li [className]="'element-list'">
          <app-menu-icons></app-menu-icons>
        </li>
        <li [className]="'element-list'">
          <app-menu-icons></app-menu-icons>
        </li>
        <li [className]="'element-list'">
          <app-menu-icons></app-menu-icons>
        </li>
      </ul>
    </div>
   <div [className]="'eject'">
     <fa-icon [icon]='faEject'></fa-icon>
    </div>
</section>
