<section>
    <div [className]="'first'">
      <div [className]="'notification'" (click)="toggleClass($event)">dzxc1</div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
    <div [className]="'second'">
      <div [className]="'notification'" (click)="toggleClass($event)">asd2</div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
    <div [className]="'third'">
      <div [className]="'notification'" (click)="toggleClass($event)">asd3</div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
    <div [className]="'fourth'">
      <div [className]="'notification'" (click)="toggleClass($event)">asd4</div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
</section>
