<section>
    <div #notyficationElements [className]="'first'">
      <div [className]="'notification'" (click)="toggleClass($event)">
        <div [className]="'icon'">
          <fa-icon [icon]='faMobileAlt'></fa-icon>
        </div>
        <div [className]="'info'">
            <p>1 minute ago </p>
            <p>by Mike | Creative Mints</p>
            <h5>Mechanical Grasshopper</h5>
        </div>
      </div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
    <div #notyficationElements [className]="'second'">
      <div [className]="'notification'" (click)="toggleClass($event)">
        <div [className]="'icon'">
          <i class="fas fa-cloud-sun-rain"></i>
        </div>
          <div [className]="'info'">
            <p>1 minute ago</p>
            <p>by Mike | Creative Mints</p>
            <h5>Mechanical Grasshopper</h5>
        </div>
      </div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
    <div #notyficationElements [className]="'third'">
      <div [className]="'notification'" (click)="toggleClass($event)">
        <div [className]="'icon'">
          <i class="far fa-image"></i>
        </div>
        <div [className]="'info'">
            <p>1 minute ago</p>
            <p>by Mike | Creative Mints</p>
            <h5>Mechanical Grasshopper</h5>
        </div>
      </div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
    <div  #notyficationElements [className]="'fourth'">
      <div [className]="'notification'" (click)="toggleClass($event)">
        <div [className]="'icon'">
          <fa-icon [icon]='faDesktop'></fa-icon>
        </div>
        <div [className]="'info'">
            <p>1 minute ago</p>
            <p>by Mike | Creative Mints</p>
            <h5>Mechanical Grasshopper</h5>
        </div>
      </div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
</section>
