<section>
    <div #notyficationElements [className]="'first'">
      <div [className]="'notification'" (click)="toggleClass($event)">
        <div [className]="'icon'">
          <fa-icon [icon]='faMobileAlt'></fa-icon>
        </div>
        <div [className]="'info'">
            <h5>1 minute ago &nbsp; &nbsp; by: Mike | Creative Mints</h5>
            <p>Mechanical Grasshopper</p>
        </div>
      </div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
    <div #notyficationElements [className]="'second'">
      <div [className]="'notification'" (click)="toggleClass($event)">
        <div [className]="'icon'">
          <i class="fas fa-cloud-sun-rain"></i>
        </div>
          <div [className]="'info'">
            <h5>21 minute ago &nbsp; &nbsp; by: Dash</h5>
            <p>Assistant App - Weather Mode</p>
        </div>
      </div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
    <div #notyficationElements [className]="'third'">
      <div [className]="'notification'" (click)="toggleClass($event)">
        <div [className]="'icon'">
          <i class="far fa-image"></i>
        </div>
        <div [className]="'info'">
            <h5>21 minute ago &nbsp; &nbsp; by Dash | Creative Mints</h5>
            <p>Assistant App - Weather Mode</p>
        </div>
      </div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
    <div  #notyficationElements [className]="'fourth'">
      <div [className]="'notification'" (click)="toggleClass($event)">
        <div [className]="'icon'">
          <fa-icon [icon]='faDesktop'></fa-icon>
        </div>
        <div [className]="'info'">
            <h5>2 hours ago &nbsp; &nbsp; by: Bill S Kennedy</h5>
            <p>Bamboo Branding Wall Pice - not flat</p>
        </div>
      </div>
      <div [className]="'option'">
        <app-notifications-icons></app-notifications-icons>
      </div>
    </div>
</section>
