@mixin size-for-notifications {
  width: 100%;
  height: 5em;
}
@mixin setting-for-option-notifications {
  .notification {
    width: 100%;
    height: 100%;
    background: #f56f6c;
    border-bottom: .5px solid #fdfffc;
    color: white;
    display: flex;
    .icon {
      display: flex;
      width: 4rem;
      justify-content: center;
      align-items: center;
      fa-icon {
        flex: 1;
        text-align: center;
        font-size: 2rem;
      }
    }
    .info {
      padding: 1rem 0 0 0;
      flex: 10;
        p {
          display: inline;
          font-size: .8rem;
        }
        h5 {
          padding-top: .2rem;
          font-size: 1rem;
        }
    }
  }
  .option{
    display: none;
  }
}

.add-displacement-to-notification {
  position: absolute;
  right: 60%;
}
.add-displacement-to-option{
  position: absolute;
  left: 40%;
  bottom: 0;
  background-image: url("../../assets/photo/iphone-410324_640.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 100%;
  border-left: 5px solid #64b2bf;
  font-size: 1.5rem;
  color: white;
  app-notifications-icons {
    background-color:rgba(32, 96, 105, 0.8);
    width: 100%;
    height: 100%;
  }
}
section {
      position: absolute;
      width: 100%;
      top: 365px;
      .first {
        position: relative;
        div.notification {
          border-radius: 10px 10px 0 0;
        }
        @include size-for-notifications;
        @include setting-for-option-notifications;
      }
      .second {
        position: relative;
        @include size-for-notifications;
        @include setting-for-option-notifications;
      }
      .third {
        position: relative;
        @include size-for-notifications;
        @include setting-for-option-notifications;
      }
      .fourth {
        position: relative;
        @include size-for-notifications;
        @include setting-for-option-notifications;
      }
}
